@page "/orders"
@inject HttpClient http

<h3>Order list</h3>

<table class="table">
    <thead>
        <tr>
            <th>Customer name</th>
            <th>PrductId</th>
            <th>Quantity</th>
            <th>Ordder date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var order in orders)
        {
            <tr>
                <td>@order.CustomerName</td>
                <td>@order.ProductId</td>
                <td>@order.Quantity</td>
                <td>@order.OrderDate</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private List<OrderModel> orders = new List<OrderModel>();
    protected override async Task OnInitializedAsync()
    {
        orders = await http.GetFromJsonAsync<List<OrderModel>>("http://localhost:5243/api/Order");
        await base.OnInitializedAsync();
    }
}